* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INZIO CLASSI SCHELETRO CALCOLATRICE */

.main-cont {
    width: 800px;
    height: 800px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.aling-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.head-box {
    background-color: yellow;
    width: 300px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: black;
    width: 300px;
    height: 90px;
}

.calc-cont {
    background-color: lightslategray;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: row;
}

/* FINE CLASSI SCHELETRO CALCOLATRICE */

/* INIZIO CONTENUTI CALCOLATRICE */
.logo-pos {
    text-align: center;
    line-height: 90px;
    font-size: 25px;
    font-family: sans-serif;
}

.calc-text {
    color: #09D297;
    text-align: right;
    line-height: 90px;
    font-size: 40px;
    font-family: 'Seven Segment', sans-serif;
    padding-right: 20px;
}

.veritcal-button {
    background-color: orange;
    height: 100%;
    width: 70%;
}

.orizonatl-button {
    background-color: purple;
    height: 100%;
    width: 30%;
}