* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONTO TEXT LOGO */
@font-face {
    font-family: eurostile;
    src: url(../font/eurostile.TTF);
}

/* INZIO CLASSI SCHELETRO CALCOLATRICE */

.main-cont {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.aling-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.head-box {
    background: rgb(187, 187, 187);
    background: linear-gradient(90deg, rgba(187, 187, 187, 1) 12%, rgba(207, 207, 192, 0.6615021008403361) 51%);
    width: 340px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: black;
    width: 340px;
    height: 90px;
}

.calc-cont {
    background: rgb(187, 187, 187);
    background: linear-gradient(90deg, rgba(187, 187, 187, 1) 12%, rgba(207, 207, 192, 0.6615021008403361) 51%);
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* FINE CLASSI SCHELETRO CALCOLATRICE */

/* INIZIO CONTENUTI CALCOLATRICE */
.logo-pos {
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    font-family: eurostile;
}

.calc-text {
    color: #09D297;
    text-align: right;
    line-height: 90px;
    font-size: 40px;
    font-family: 'Seven Segment', sans-serif;
    padding-right: 20px;
}

.veritcal-button {
    height: 100%;
    width: 75%;
}

.orizonatal-button {
    height: 100%;
    width: 25%;
}

/* INIZIO CONTENUTI CALCOLATRICE */

/* FLEX ROW PULSANTI NUMERICI SINISTRA CALCOLATRICE*/
.vertical-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.button-v {
    background-color: #BBBBBB;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin: 5px;
    font-family: eurostile;
    font-size: 35px;
}

.button-g {
    height: 70px;
    width: 150px;
    border-radius: 10px;
    margin: 5px;
    font-family: eurostile;
    font-size: 35px;
}

.color-white {
    background-color: #BBBBBB;
}

.color-orange {
    background-color: orange;
    color: white;
}

.color-blue {
    background-color: #77A8B0;
    color: white;
}

/* FINE PARTE FLEX ROW PULSANTI NUMERICI SINISTRA CALCOLATRICE*/

/* INIZIO PARTE FLEX COLUMN PULSANTI NUMERICI DESTRA CALCOLATRICE*/

.orizontal-flex {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.button-o {
    height: 54px;
    width: 60px;
    border-radius: 10px;
    margin: 5px;
    font-family: eurostile;
    font-size: 25px;
}

/* FINE PARTE FLEX COLUMN PULSANTI NUMERICI DESTRA CALCOLATRICE*/