* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INZIO CLASSI SCHELETRO CALCOLATRICE */

.main-cont {
    width: 800px;
    height: 800px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.aling-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.head-box {
    background-color: yellow;
    width: 300px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen {
    background-color: black;
    width: 300px;
    height: 90px;
}

.calc-button {
    background-color: lightslategray;
    width: 300px;
    height: 350px;
}

/* FINE CLASSI SCHELETRO CALCOLATRICE */